.card-wrapper {
  background-color: transparent;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 1s;
}

.card-inner {
  height: 100%;
  width: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-back,
.flip-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-back {
  background-color: tomato;
  transform: rotateY(180deg);
}

.flip .card-inner {
  transform: rotateY(180deg);
  transition: transform 1s;
}
